@import "tailwindcss";

:root {
  --background: linear-gradient(360deg,#1b1e22 0%, #1b3452 30%, #315888 85%, #122235 100%);
  --foreground: #000000;
}

body {
  background: var(--background);
  color: white;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
}